In [1]:
import re
import pandas as pd

In [2]:
sample_text = 'Python Exercises, PHP exercises.'

pattern = re.sub(r'[ ,.]', ':', sample_text)
print(pattern)

Python:Exercises::PHP:exercises:

In [3]:
dictionary = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(dictionary)
def remove_non_alphabetic(text):
    pattern = re.compile(r'[^a-z\s]')
    text = re.sub(pattern, '', text)
    return text
for col in df.columns:
    df[col] = df[col].apply(remove_non_alphabetic)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [4]:
text = 'The fliprobo technology given by the assignment for practice purpose'

pattern = re.compile(r'\b\w{4,}\b')
matches = pattern.findall(text)
print(matches)

['fliprobo', 'technology', 'given', 'assignment', 'practice', 'purpose']

In [5]:
text = 'The data trained and fliprobo is a very good platform to learn the data science'

pattern = re.compile(r'\b\w{3,5}\b')
matches = pattern.findall(text)
print(matches)

['The', 'data', 'and', 'very', 'good', 'learn', 'the', 'data']

In [6]:
Sample_Text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

pattern = re.compile(r'[^\w\s.]')
matches = [pattern.sub('',s) for s in Sample_Text]
print(matches)

['example .com', 'hrfliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [7]:
Sample_Text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
    

pattern = re.compile(r'\s*\(.*?\)\s*')
matches = [pattern.sub('', s) for s in Sample_Text]
print(matches)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [8]:
Sample_text = "ImportanceOfRegularExpressionsInPython"

pattern = re.compile(r'[A-Z][^A-Z]*')
matches = pattern.findall(Sample_text)
print(matches)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [9]:
Sample_Text= "RegularExpression1IsAn2ImportantTopic3InPython"

pattern = re.compile(r'(\d)')
matches = pattern.sub(r' \1 ',Sample_Text)
print(matches)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [11]:
df['first_five_letters'] = df['Country'].str[:6]
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

In [12]:
text = "ThereIsMoreconfusion_123."

pattern = re.compile(r'[a-zA-Z0-9_.]')
if pattern.match(text):
    print(f"pattern is matching")
else:
    print(f"pattern does not match")

pattern is matching

In [13]:
text = "123sampletext"

pattern = re.compile(r'\d')
if pattern.match(text):
    print(f"pattern is matching")
else:
    print(f"pattern does not match")

pattern is matching

In [14]:
IP_address = "001 0002 0003 0004 00005"

pattern = re.compile(r'(\d+)')
matches = pattern.sub(r'\1', IP_address)
print(matches)

001 0002 0003 0004 00005

In [15]:
Sample_text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
    
pattern = re.compile(r'(January|Ferbuary|March|April|May|June|July|August|September|October|November|December)\s\d{1,2}(st|nd|rd|th)?\s\d{4}')
match = pattern.search(Sample_text)
matched = match.group()
print(matched)

August 15th 1947

In [16]:
pattern = "fox|dog|horse"

Sample_text = "The quick brown fox jumps over the lazy dog."
matches = re.findall(pattern,Sample_text)
print(matches)

['fox', 'dog']

In [17]:
Sample_text = "The quick brown fox jumps over the lazy dog."

search = 'fox'
matches = re.search(r'\b'+ search,Sample_text)
print(matches)

<re.Match object; span=(16, 19), match='fox'>

In [18]:
Sample_text='Python exercises, PHP exercises, C# exercises'

pattern = re.compile(r'\bexercise')
matches = pattern.findall(Sample_text)
print(matches)

['exercise', 'exercise', 'exercise']

In [19]:
string = "Python is a popular programming language. Python is used in various applications, such as web development, data analysis, and artificial intelligence."

substrings = ['Python', 'programming', 'analysis']
def find(string, substrings):
    result = {}
    for substring in substrings:
        occurrence = string.count(substring)
        position = string.find(substring)
        result[substring] = {'occurrence': occurrence, 'position': position}
    return result
print(find(string, substrings))

{'Python': {'occurrence': 2, 'position': 0}, 'programming': {'occurrence': 1, 'position': 20}, 'analysis': {'occurrence': 1, 'position': 112}}

In [20]:
date = "2022-03-01"

from datetime import datetime
x = datetime.strptime(date, "%Y-%m-%d")
date = x.strftime("%d-%m-%Y")
print(date)

01-03-2022

In [21]:
Sample_Text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

pattern = re.compile(r'\d{1,2}\.\d{1,2}')
matches = pattern.findall(Sample_Text)
print(matches)

['01.12', '32.12', '2.31', '45.8', '3.01', '27.25', '0.25']

In [22]:
def find_positions(text):
    
    numbers = re.findall(r'\d+', text)

    for i, number in enumerate(numbers):
        print(f"Number: {number}, Position: {i}")

text = "The quick brown fox jumps over the lazy dog 12345 678 90"
find_positions(text)

Number: 12345, Position: 0
Number: 678, Position: 1
Number: 90, Position: 2

In [23]:
def max_value(text):
    
    pattern = re.compile(r'\d+')
    numeric_values = pattern.findall(text)
    max_value = max(int(value) for value in numeric_values)
    return max_value

text = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
value = max_value(text)
print(value)

950

In [24]:
text = "RegularExpressionIsAnImportantTopicInPython"

pattern = re.findall(r'[A-Z][^A-Z]*',text)
matches = ' '.join(pattern)
print(matches)

Regular Expression Is An Important Topic In Python

In [25]:
text = "The Person Who Is Sitting There, He Is Very Hardworking"

pattern = r'[A-Z][a-z]*'
matches = re.findall(pattern,text)
print(matches)

['The', 'Person', 'Who', 'Is', 'Sitting', 'There', 'He', 'Is', 'Very', 'Hardworking']

In [26]:
sample_text = "Hello hello world world"

pattern = r'(\w+)\s\1'
matches = re.sub(pattern,r'\1', sample_text)
print(matches)

Hello hello world

In [27]:
x = "Maharashtra2005"

pattern = r'^\w+$'
if re.match(pattern,x):
    print(f"Match the pattern")
else:
    print(f"Pattern does not match")

Match the pattern

In [28]:
Sample_Text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

pattern = re.compile(r'#\w+')
matches = pattern.findall(Sample_Text)
print(matches)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [29]:
Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r'<U\+\d{4}?>'
matches = re.sub(pattern,'',Sample_Text)
print(matches)

@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8>Those who  are protesting #demonetization  are all different party leaders

In [30]:
open('C:\Users\Ashish Patel\Documents' 'text_file.txt' 'r') as f:
    text = f.read()

pattern = r'(\d{2}-\d{2}-\d{4})'
matches = re.findall(pattern, text)
print(matches)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (962010150.py, line 1)

In [31]:
Sample_Text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r'\b\w{2,4}\b')
matches = pattern.sub('',Sample_Text)
print(matches)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.